{% extends "base.html" %}

{% block titulo %}Generated HTML Preview{% endblock %}

{% block content %}
<h2 class="mb-4">HTML</h2>

<iframe id="generated-frame" style="width: 100%; height: 700px; border: 1px solid #ccc;"></iframe>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const htmlContent = "{{ html_code|escapejs }}";
    const iframe = document.getElementById("generated-frame");

    if (iframe && iframe.contentDocument) {
      const doc = iframe.contentDocument || iframe.contentWindow.document;
      doc.open();
      doc.write(htmlContent);
      doc.close();
    }
  });
</script>
{% endblock %}
